.navbar {
    width: 100%;
    height: 124px;
    background-color: #080808;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #1c1c1c;
}

.navbar-logo {
    padding-left: 12%;
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo-image {
    width: 40px;
    height: 40px;
    background-image: url("../assets/logo.svg");
}

.navbar-logo-label {
    padding-left: 12px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.navbar-items {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 7%;
}

.navbar-item {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar-item-label {
    cursor: pointer;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #080808;
}
